@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn-normal{
  @apply bg-primary text-white w-44 h-11;
}

.btn-outline{
  @apply bg-white text-primary border-2 border-primary w-44 h-11
}

.btn-calculator{
  @apply w-52 h-11 bg-primary text-white
}